/* Map */

.map {
    height: 500px;
    padding: 0;
    width: 80%;
    margin: auto auto 80px auto;
    border: 1px solid gray;
    padding: 2px;
    box-sizing: border-box;
}

.product-image {
  /*border: 0.2px solid gray;*/
  /*padding: 2px;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.mill-product-list {
  list-style: none;
  padding-left: 0;
}


.mill-logo {
  max-width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid gray;
}


.show-border {
  border: 1px solid tomato;
}
