/* Map */

.map {
    height: 600px;
    padding: 0;
    width: 80%;
    margin: auto auto 80px auto;
    border: 1px solid gray;
    padding: 2px;
    box-sizing: border-box;
}

.product-image {
  /*border: 0.2px solid gray;*/
  /*padding: 2px;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.mill-product-list {
  list-style: none;
  padding-left: 0;
}


.mill-logo {
  max-width: 100%;
  margin-bottom: 16px;

}


.show-border {
  border: 1px solid tomato;
}

div.mill-info {
  /*min-height: 120px;*/
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.service-box {
  border: 1px solid #E0E0E0;
  min-height: 146px;
  padding-top: 34px;
}

.service-box:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

img.deal {
  margin: auto;
  height: 380px;
}

div.modal-container {
  border: 1px solid #E0E0E0;
  padding: 2px;
  border-radius: 3px;
  background: white;
}

.center-text {
  text-align: center;
}
