<section class="bg-primary transition-border" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                  Since 1978 when brothers Ashvin and Vipul Patel opened its doors,
                  the team at Sharda Paper Inc. has been dedicated to satisfying the needs of their customers,
                  no matter the size.
                </p>
                <p class="text-faded">
                  Over the last 38 years, we have established ourselves as a trustworthy wholesale paper distributor
                  for the tri-state and surrounding areas.
                </p>
                <p class="text-faded">
                  Call or email our experienced and friendly sales team today to get assistance finding a product
                  and getting a price quote.
                </p>
                <br/>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
