<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Sharda Paper Inc. has established itself as a trustworthy wholesale paper distributor and we would love to serve you!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="#">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>(718) 628-4108</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="#">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Sales@shardarsp.com</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="#">
            <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>378 Troutman <br/> Brooklyn, NY 11237</p>
            </a>
        </div>

    </div>
</section>
