<footer class="footer bg-primary transition-border">
  <a class="page-scroll text-faded" href="#page-top" style="float: right; margin: 8px 12px; text-align: center; text-decoration: none;">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
      <br/> TOP
  </a>
  <div class="container" style="padding: 9px; text-align: center;">
    <p style="color: white; font-size: 0.8em;" class="text-muted">
      © 2017 Sharda RSP <br/>
      378 Troutman Brooklyn, NY 11237
    </p>
  </div>
</footer>
