<section style="padding-top:0;">
  <div class="center-text">
    <h2>
      Or stop by our office at
    </h2>
    <div class="container" style="margin-bottom:12px;">
        <!-- <div class="row"> -->
          <div class="col-lg-4 col-lg-offset-4 text-center contact-method">
              <a>
              <i class="fa fa-map-marker" aria-hidden="true" style="font-size:4em; color:black;"></i>
                  <p>378 Troutman <br/> Brooklyn, NY 11237</p>
              </a>
          </div>
        <!-- </div> -->
    </div>
  </div>
  <div id="map" class="map">
    <iframe id="map_iframe"
      width="100%"
      height="100%"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps/embed/v1/place?key=AIzaSyBxN3rxbGHuNpC4s_7zSWqiA2nU_ImNSE4&q=378 Troutman St, Brooklyn, NY 11237"
      allowfullscreen>
    </iframe>
    <br>
    <small id="map_iframe"
      width="100%"
      height="100%"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps/embed/v1/place?key=AIzaSyBxN3rxbGHuNpC4s_7zSWqiA2nU_ImNSE4&q=378 Troutman St, Brooklyn, NY 11237"
      allowfullscreen>
    </small>
  </div>
</section>
