<section id="services">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h1 class="section-heading">Products by Mill</h1>
                <p class="text-muted">- Click on a mill for product names -</p>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-3 text-center">
                <div class="service-box">
                      <img src="img/mill_icons/International_Papers.jpg" class="mill-logo">
                    <ul class="mill-product-list">
                      <li>Hammermill</li>
                      <li>Springhill</li>
                      <li>Accent Opaque</li>
                      <li>Williamsburg Offset</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img src="img/mill_icons/West_Rock.jpg" width="100%" class="mill-logo">
                    <ul class="mill-product-list">
                      <li>Carolina</li>
                      <li>Tango</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img src="img/mill_icons/Finch_Paper.jpg" width="100%" class="mill-logo">
                    <ul class="mill-product-list">
                      <li>Finch Fine</li>
                      <li>Finch Opaque</li>
                      <li>Finch 94</li>
                      <li>New Leaf Ingenuity</li>
                    </ul>
                </div>
            </div>



            <div class="col-md-3 text-center">
                <div class="service-box">
                    <img src="img/mill_icons/Neenah.jpg" width="100%" class="mill-logo">
                    <ul class="mill-product-list">
                      <li>Royal Sundance</li>
                      <li>Classic</li>
                      <li>Cranes</li>
                      <li>Environment</li>
                    </ul>
                </div>
            </div>



        </div>


      <!--  SECOND ROW OF MILLS -->

          <div class="row">

            <div class="col-lg-2 col-md-4  text-center show-border">
                <div class="service-box">
                  <img src="img/mill_icons/Domtar.jpg" width="100%" class="mill-logo">
                    <ul class="mill-product-list">
                      <li>Cougar</li>
                      <li>Domtar Copy</li>
                      <li>EarthChoice</li>
                      <li>Husky</li>
                      <li>Lynx</li>
                      <li>Xerox</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-4  text-center show-border">
                <div class="service-box">
                    <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                    <h3>Mohawk</h3>
                    <ul class="mill-product-list">
                      <li>Strathmore</li>
                      <li>Britehue</li>
                      <li>Loop</li>
                      <li>Superfine</li>
                      <li>Via</li>
                      <li>Carnival</li>
                      <li>Chromolux</li>
                      <li>Options</li>
                      <li>Opaque</li>
                      <li>Kromekote</li>
                    </ul>
                </div>
            </div>

              <div class="col-lg-2 col-md-4  text-center show-border">
                  <div class="service-box">
                      <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                      <h3>APP</h3>
                      <ul class="mill-product-list">
                        <li>Rainbow Max</li>
                        <li>ExcelPro</li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-2 col-md-4  text-center show-border">
                  <div class="service-box">
                      <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                      <h3>April Fine Papers</h3>
                      <ul class="mill-product-list">
                        <li>Multipurpose – 95 Bright</li>
                        <li>PaperOne – 98 Bright</li>
                        <li>Copy & Laser – 95 Bright</li>
                        <li>Excellent Copy – 95 Bright</li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-2 col-md-4  text-center show-border">
                  <div class="service-box">
                      <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                      <h3>Soprocel <br/> (The Navigator Company)</h3>
                      <ul class="mill-product-list">
                        <li>Soproset</li>
                        <li>Navigator</li>
                        <li>Discovery</li>
                        <li>Pioneer</li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-2 col-md-4  text-center show-border">
                  <div class="service-box">
                      <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                      <h3>Suzano</h3>
                      <ul class="mill-product-list">
                        <li>Report</li>
                        <li>Artwork</li>
                        <li>Eclipse</li>
                        <li>Paperfect</li>
                        <li>Prism Bright</li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-2 col-md-4  text-center show-border">
                  <div class="service-box">
                      <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                      <h3>Lecta Papers</h3>
                      <ul class="mill-product-list">
                        <li>Creator Coated</li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-2 col-md-4  text-center show-border">
                  <div class="service-box">
                      <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                      <h3>Nekoosa</h3>
                      <ul class="mill-product-list">
                        <li>Imation Carbonless</li>
                        <li>Nekoosa Coated Digital</li>
                      </ul>
                  </div>
              </div>

          </div>



        <!--  THIRD ROW OF MILLS -->

            <div class="row">

                <div class="col-lg-2 col-md-4  text-center show-border">
                    <div class="service-box">
                        <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                        <h3>Sappi Papers</h3>
                        <ul class="mill-product-list">
                          <li>McCoy</li>
                          <li>Opus</li>
                          <li>Flo</li>
                          <li>Somerset</li>
                          <li>Galerie Publishing</li>
                          <li>GalerieArt</li>
                          <li>HannoArt</li>
                          <li>EuroArt</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4  text-center show-border">
                    <div class="service-box">
                        <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                        <h3>Verso Corp.</h3>
                        <ul class="mill-product-list">
                          <li>Blazer Coated Digital</li>
                          <li>Futura Digital</li>
                          <li>Anthem Plus</li>
                          <li>Productolith PTS</li>
                          <li>Sterling</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4  text-center show-border">
                    <div class="service-box">
                        <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                        <h3>Spinnaker Coating</h3>
                        <ul class="mill-product-list">
                          <li>Labels</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4  text-center show-border">
                    <div class="service-box">
                        <i class="fa fa-4x fa-print wow bounceIn text-primary"></i>
                        <h3>Glatefelter</h3>
                        <ul class="mill-product-list">
                          <li>ExcelOne Carbonless</li>
                          <li>Optica Self-Contained</li>
                          <li>Sequel Recycled Carbonless</li>
                          <li>Xcelerator PLUS Digital</li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>




</section>
